.body {
	width: 450px;
	height: 600px;
	border: solid 1px blue;
	margin:20px auto;
	border-radius: 30px;
	background-image: url(../icons/sky.jpg);


}

.weatherInfo {
	width: 450px;
	height: 600px;
	
}


.weatherInfo p{
	display: inline-block;
	font-size: 30px;
}


.citySearch{
	width: 55%;
	height: 40px;
	border-radius: 30px;
	margin:40px;
	padding-left: 10px;
	border: solid 1px lightblue;
	font-size: 20px;
	text-align: center;
}

.button{
	width: 20%;
	height: 40px;
	background: lightblue;
	border-radius: 30px;
	border:none;
	font-size: 20px

}

.cityName{
   font-size: 40px;
   text-align: center;

}

.temp p{
	display: block;
	font-size: 80px;
	display: inline-block;
}
.temp {
	text-align: center;
}
.temp img{
	width: 60px;
	display: inline-block;
}

.city{
	text-align: center;
	width: 49%;
	display: inline-block;
	border-right: solid 2px black;
}

.city p{
	font-size: 40px;

}
.weather{
	text-align: center;
	width: 49%;
	display: inline-block;
	
}

.weather img {
	width: 100px;
}